.sign-up-body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('visit-banner.jpg') no-repeat center center fixed;
    background-size: container; 
    background-color: white;
  }

  .content {
    margin-top: 80px; 
    height: calc(100vh - 80px); 
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
.sign-up-container {
    background-color:  #D9D9D9;
    padding: 30px;
    max-width: 400px;
    height: 500px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .sign-up-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3em;
    text-align: center;
  }
  
  .sign-up-container input,
  .sign-up-container select {
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
  }
  
  .sign-up-container input:focus, 
  .sign-up-container select:focus {
    border-color: #ffc629; /* Change border color on focus */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(255, 198, 41, 0.5); /* Optional, for a glow effect */
}
  .sign-up-container button {
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    padding: 12px; /* Button padding */
    border: none; /* No border on button */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
  }
  
  .sign-up-container button:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .sign-up-container a {
    display: block;
    margin-top: 10px;
  }
