body {
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
    background-color: white
}

.main-content {
    background-color: white; /* Ensures sections of your app have a white background */
    min-height: 100vh; /* Ensures it covers the full height of the viewport */
}

.home-page-container {
    padding: 20px;
    text-align: center; 
}

h1 {
    font-size: 3em; /* Large title size */
    margin-bottom: 20px; /* Space below title */
    color: #333; /* Dark text for contrast */
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
}

.category-card {
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none; 
    margin: 10px; 
    width: 220px; 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.category-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.category-card img {
    width: 100%; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
}

.category-title {
    margin: 10px; 
    font-weight: bold; 
    color: #333; 
}